@import "./Saas_Fichier/variable.scss";
@import "./Saas_Fichier/mixin";
@import "./Saas_Fichier/global";
@import "./Restaurant.scss";


@keyframes Loader-animation {
  0% {
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin{
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.isloading{
  animation: Loader-animation forwards;
  animation-duration: 4s;
}
.loader{
    width: 25px;
    height: 25px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid $primaire;
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
    border-radius: 50%;
}
nav {
  height: 80px;
  @include center-both;
}
.container-map {
  width: 100%;
  @include center-both;
  height: 60px;
  background-color: #eaeaea;
  color: #353535;

  .search-map {
    @include center-both;
    gap: 15px;
    i {
      font-size: 20px;
    }
    input {
      border: none;
      background: transparent;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      width: 60%;
      outline: none;
    }
  }
}
.container-hero {
  background: $background;
  @include center-both;
  width: 100%;
  height: 50vh;
  .hero {
    width: 80%;
    text-align: center;
    @include center-both;
    flex-direction: column;
    gap: 18px;
    button {
      width: 100%;
      max-width: 250px;
    }
  }
}

.container-fonctionnement {
  @include center-both;
  background: #fff;
  width: 100%;
  padding: 35px 0;
  .fonctionnement {
    @include center-both;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    .title {
      align-self: start;
      margin-bottom: 15px;
    }
    .container-card {
      @include center-both;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      .card {
        font-family: $fontText;
        width: 100%;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @include center-both;
        justify-content: start;
        gap: 10px;
        transform: translatey(-10px);
        position: relative;
        padding: 35px;
        background-color: #f6f6f6;
        &:hover i {
          color: $primaire;
        }
        i {
          font-size: 18px;
          color: #7e7e7e;
          margin-right: 10px;
        }
        .number {
          position: absolute;
          left: -15px;
          background: $primaire;
          padding: 10px;
          clip-path: circle();
          color: #fff;
        }
      }
    }
  }
}

.container-restaurant {
  width: 100%;
  @include center-both;
  flex-direction: column;
  background-color: $background;
  padding: 35px 0;
  .restaurant {
    @include center-both;
    gap: 20px;
    width: 80%;
    flex-direction: column;
    margin-bottom: 50px;
    .title {
      align-self: start;
    }
    .container-card {
      width: 100%;
      @include center-both;
      flex-direction: column;
      gap: 15px;
      .card {
        font-family: $fontText;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        overflow: hidden;
        position: relative;
        height: 250px;
        width: 100%;
        img {
          width: 100%;
          height: 70%;
          object-fit: cover;
          object-position: center;
        }
        .container-item {
          padding: 10px 15px;
          @include center-both;
          justify-content: space-between;
          .title {
            font-size: 20px;
          }
          .subTitle {
            font-size: 16px;
            font-weight: 300;
          }
          i {
            font-size: 20px;
          }
        }
      }
      .new {
        position: absolute;
        top: 15px;
        right: 15px;
        background: #99e2d0;
        padding: 10px;
        border-radius: 6px;
        span {
          color: #008766;
        }
      }
    }
  }
}
@media screen and (min-width: 835px) {
  .container-fonctionnement {
    padding: 60px 0px;
    .fonctionnement {
      max-width: 80%;
      .container-card {
        flex-direction: row !important;
        flex-wrap: wrap;
        width: 100%;
        .card {
          width: 48%;
          &:nth-child(3) {
            width: 100%;
          }
        }
      }
    }
  }
  .container-restaurant {
    .restaurant {
      max-width: 80%;
      .container-card {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .card {
          width: 47%;
          margin-bottom: 3%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero .title {
    font-size: 40px;
  }
  .title {
    font-size: 25px;
  }
  .container-restaurant{
  padding-bottom: 0;
  }
  .container-fonctionnement {
    .fonctionnement{
        .container-card {
            flex-wrap: nowrap !important;
            gap: 40px;
            .card {
              width: 100% !important;
            }
          }
    }
  }
}
