*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
}

.subTitle {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
}

.commande {
  font-family: "Roboto";
  border-radius: 9999px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s linear;
}

.commande:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.logo {
  font-family: "Shrikhand";
  text-align: center;
  font-size: 35px;
}

.icon-heart {
  position: relative;
  width: 25px;
  height: 25px;
}
.icon-heart i {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.icon-heart .fa-regular:hover, .icon-heart .fa-solid {
  display: none;
}
.icon-heart:hover .fa-solid {
  transform: scale(1.15);
  display: block;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}

footer {
  background: #353535;
  padding: 40px 40px 15px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
}
footer .logo {
  font-size: 18px;
  text-align: start;
  color: #fff;
  font-weight: 300;
}
footer ul {
  color: #fff;
  font-size: 15px;
  font-family: "Roboto";
  list-style-type: none;
  width: 100%;
}
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  justify-content: start;
}
footer ul li i {
  font-size: 13px;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer ul li h4 {
  font-weight: 400;
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: auto;
  }
  footer ul li:nth-child(2), footer ul li:nth-child(4) {
    margin-right: 50px;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
}

.subTitle {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
}

.commande {
  font-family: "Roboto";
  border-radius: 9999px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s linear;
}

.commande:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.logo {
  font-family: "Shrikhand";
  text-align: center;
  font-size: 35px;
}

.icon-heart {
  position: relative;
  width: 25px;
  height: 25px;
}
.icon-heart i {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.icon-heart .fa-regular:hover, .icon-heart .fa-solid {
  display: none;
}
.icon-heart:hover .fa-solid {
  transform: scale(1.15);
  display: block;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}

footer {
  background: #353535;
  padding: 40px 40px 15px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
}
footer .logo {
  font-size: 18px;
  text-align: start;
  color: #fff;
  font-weight: 300;
}
footer ul {
  color: #fff;
  font-size: 15px;
  font-family: "Roboto";
  list-style-type: none;
  width: 100%;
}
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  justify-content: start;
}
footer ul li i {
  font-size: 13px;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer ul li h4 {
  font-weight: 400;
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: auto;
  }
  footer ul li:nth-child(2), footer ul li:nth-child(4) {
    margin-right: 50px;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
.anim {
  opacity: 0;
  transform: translatey(20px);
  animation: apparition 1s forwards;
}

.bloc1 {
  animation-delay: 0.5s;
}

.bloc2 {
  animation-delay: 1s;
}

.bloc3 {
  animation-delay: 1.5s;
}

nav a {
  position: absolute;
  left: 20px;
  color: #000;
}
nav a i {
  font-size: 20px;
}

.header {
  width: 100%;
  height: 50vh;
}
.header .img-restau-unique {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main {
  background: #F6F6F6;
  border-radius: 40px 40px 0px 0;
  z-index: 10;
  margin-top: -50px;
  z-index: 10;
  position: relative;
}
.main .container-title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 24px;
}
.main .container-title-page h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
}
.main .container-title-page i {
  font-size: 25px;
}

.container-restaurant-item {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: normal !important;
  gap: 30px;
  padding-bottom: 30px;
}
.container-restaurant-item .container-carte .subTitle {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.container-restaurant-item .container-carte .subTitle::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin-top: 5px;
}
.container-restaurant-item .container-carte .carte {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.container-restaurant-item .container-carte .carte .card {
  cursor: pointer;
  font-family: "Roboto";
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.container-restaurant-item .container-carte .carte .card .card-left {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s;
}
.container-restaurant-item .container-carte .carte .card .card-left .title-card {
  overflow: hidden;
}
.container-restaurant-item .container-carte .carte .card .card-left .title-card h3 {
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}
.container-restaurant-item .container-carte .carte .card .card-left .title-card h4 {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}
.container-restaurant-item .container-carte .carte .card .card-left .price {
  font-size: 17px;
  font-weight: 700;
  align-self: flex-end;
  padding-left: 10px;
}
.container-restaurant-item .container-carte .carte .card .card-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  width: 0%;
  height: 100%;
  transition: all 0.25s;
}
.container-restaurant-item .container-carte .carte .card .card-right i {
  color: #fff;
  font-size: 22px;
}
.container-restaurant-item .container-carte .carte .card:hover .card-right {
  width: 20%;
}
.container-restaurant-item .container-carte .carte .card:hover .card-left {
  width: 80%;
}
.container-restaurant-item .commande {
  width: 60%;
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .main {
    width: 80%;
    margin: 0px auto;
    margin-top: -50px;
  }
  .main .container-title-page h1 {
    font-family: "Shrikhand";
    font-size: 28px;
    font-weight: 400;
  }
  .main .container-title-page i {
    font-size: 25px;
  }
  .main .container-restaurant-item {
    width: 60%;
  }
  .card:hover .card-right {
    width: 10% !important;
  }
  .card:hover .card-left {
    width: 90% !important;
  }
}
@keyframes Loader-animation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.isloading {
  animation: Loader-animation forwards;
  animation-duration: 4s;
}

.loader {
  width: 25px;
  height: 25px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #9356DC;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  border-radius: 50%;
}

nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
}

.container-map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #eaeaea;
  color: #353535;
}
.container-map .search-map {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container-map .search-map i {
  font-size: 20px;
}
.container-map .search-map input {
  border: none;
  background: transparent;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  width: 60%;
  outline: none;
}

.container-hero {
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.container-hero .hero {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.container-hero .hero button {
  width: 100%;
  max-width: 250px;
}

.container-fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  padding: 35px 0;
}
.container-fonctionnement .fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}
.container-fonctionnement .fonctionnement .title {
  align-self: start;
  margin-bottom: 15px;
}
.container-fonctionnement .fonctionnement .container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.container-fonctionnement .fonctionnement .container-card .card {
  font-family: "Roboto";
  width: 100%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 10px;
  transform: translatey(-10px);
  position: relative;
  padding: 35px;
  background-color: #f6f6f6;
}
.container-fonctionnement .fonctionnement .container-card .card:hover i {
  color: #9356DC;
}
.container-fonctionnement .fonctionnement .container-card .card i {
  font-size: 18px;
  color: #7e7e7e;
  margin-right: 10px;
}
.container-fonctionnement .fonctionnement .container-card .card .number {
  position: absolute;
  left: -15px;
  background: #9356DC;
  padding: 10px;
  clip-path: circle();
  color: #fff;
}

.container-restaurant {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 35px 0;
}
.container-restaurant .restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  flex-direction: column;
  margin-bottom: 50px;
}
.container-restaurant .restaurant .title {
  align-self: start;
}
.container-restaurant .restaurant .container-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.container-restaurant .restaurant .container-card .card {
  color: #000;
  font-family: "Roboto";
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  position: relative;
  height: 250px;
  width: 100%;
}
.container-restaurant .restaurant .container-card .card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}
.container-restaurant .restaurant .container-card .card .container-item {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.container-restaurant .restaurant .container-card .card .container-item .title {
  font-size: 20px;
}
.container-restaurant .restaurant .container-card .card .container-item .subTitle {
  font-size: 16px;
  font-weight: 300;
}
.container-restaurant .restaurant .container-card .card .container-item i {
  font-size: 20px;
}
.container-restaurant .restaurant .container-card .new {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99e2d0;
  padding: 10px;
  border-radius: 6px;
}
.container-restaurant .restaurant .container-card .new span {
  color: #008766;
}

@media screen and (min-width: 835px) {
  .container-fonctionnement {
    padding: 60px 0px;
  }
  .container-fonctionnement .fonctionnement {
    max-width: 80%;
  }
  .container-fonctionnement .fonctionnement .container-card {
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100%;
  }
  .container-fonctionnement .fonctionnement .container-card .card {
    width: 48%;
  }
  .container-fonctionnement .fonctionnement .container-card .card:nth-child(3) {
    width: 100%;
  }
  .container-restaurant .restaurant {
    max-width: 80%;
  }
  .container-restaurant .restaurant .container-card {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-restaurant .restaurant .container-card .card {
    width: 47%;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 1024px) {
  .hero .title {
    font-size: 40px;
  }
  .title {
    font-size: 25px;
  }
  .container-restaurant {
    padding-bottom: 0;
  }
  .container-fonctionnement .fonctionnement .container-card {
    flex-wrap: nowrap !important;
    gap: 40px;
  }
  .container-fonctionnement .fonctionnement .container-card .card {
    width: 100% !important;
  }
}

/*# sourceMappingURL=index.css.map */
