@import "./Saas_Fichier/variable.scss";
@import "./Saas_Fichier/mixin";
@import "./Saas_Fichier/global";

@keyframes apparition{
    0%{
        opacity: 0;
        transform: translatey(20px);
    }
    100%{
        opacity: 1;
        transform: translatey(0);
    }
}
.anim{
    animation: apparition 1s forwards;
}
.bloc1{
    animation-delay: 0.5s;
}
.bloc2{
    animation-delay: 1s;
}
.bloc3{
    animation-delay: 1.5s;
}

nav{
    a{
        position: absolute;
        left: 20px;
        color: #000;
        i{
            font-size: 20px;
        }
    }
}

.header{
    width: 100%;
    height: 50vh;
    .img-restau-unique{
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.main{
    background: $background;
    border-radius: 40px 40px 0px 0;
    z-index: 10;
    margin-top: -50px;
    z-index: 10;
    position: relative;
    .container-title-page{
        @include center-both();
        gap: 20px;
        padding: 30px 24px;
        h1{
            font-family: $fontLogo;
            font-size: 28px;
            font-weight: 400;
        }
        i{
            font-size: 25px;
        }
        
    }
}

.container-restaurant-item{
    width: 90%;
    margin: 0 auto;
    @include center-both();
    flex-direction: column;
    align-items: normal!important;
    gap: 30px;
    padding-bottom: 30px;

    .container-carte{
        .subTitle{
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            &::after{
                content: "";
                display: block;
                width: 40px;
                height: 3px;
                background: #99E2D0;
                margin-top: 5px;
            }
        }
        .carte{
            margin-top: 10px;
            @include center-both();
            flex-direction: column;
            gap: 10px;
            .card{
                cursor: pointer;
                font-family: $fontText;
                overflow: hidden;
                border-radius: 15px;
                box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
                background: #fff;
                width: 100%;
                height: 70px;
                @include center-both();
                justify-content: space-between;
                .card-left{
                    padding: 15px 20px;
                    width: 100%;
                    @include center-both();
                    justify-content: space-between;
                    transition: all 0.25s;
                    .title-card{
                        overflow: hidden;        
                        h3{
                          font-size: 18px;
                          font-weight: 600;
                          text-overflow: ellipsis!important;
                          white-space: nowrap;
                          overflow: hidden;
                       
                        }
                        h4{
                            font-size: 15px;
                            font-weight: 300;
                            text-overflow: ellipsis!important;
                            white-space: nowrap; 
                            overflow: hidden;
                        }
                    }
                    .price{
                        font-size: 17px;
                        font-weight: 700;
                        align-self: flex-end;
                        padding-left: 10px;
    
                    }
                }
                .card-right{
                    @include center-both();
                    background: #99E2D0;
                    width: 0%;
                    height: 100%;
                    transition: all 0.25s;
                    i{
                        color: #fff;
                        font-size: 22px;
                    }
                }
                &:hover .card-right{
                    width: 20%;
                }
                &:hover .card-left{
                    width: 80%;
                }
            }
        }
    
    }
    .commande{
        width: 60%;
        align-self: center;
    }
}

@media screen and (min-width:1024px) {
    .main{
        width: 80%;
        margin: 0px auto;
        margin-top: -50px;
        .container-title-page{
            h1{
                font-family: $fontLogo;
                font-size: 28px;
                font-weight: 400;
            }
            i{
                font-size: 25px;
            }
        }
        .container-restaurant-item{
            width: 60%;
        }
    }
    .card{
        &:hover .card-right{
            width: 10%!important;
        }
        &:hover .card-left{
            width: 90%!important;
        }
    }
}