@import "mixin";

*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.title{
    font-family: $fontText;
    font-size: 30px;
    font-weight: 700;
}
.subTitle{
    font-family: $fontText;
    font-size: 16px;
    font-weight: 500;
}
.text{
    font-family: $fontText;
    font-size: 18px;
    font-weight: 300;
}
.commande{
    font-family: $fontText;
    border-radius: 9999px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(193deg, $primaire -11.44%, $Secondaire 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s linear;
}
.commande:hover{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, $primaire -5.2%, $Secondaire 110.74%);;
}
.logo {
    font-family: $fontLogo;
    text-align: center;
    font-size: 35px;
}
.icon-heart{
    position: relative;
    width: 25px;
    height: 25px;
    i{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    .fa-regular:hover,.fa-solid{
        display: none;
    }
    &:hover .fa-solid{
        display: block;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(193deg, $primaire -11.44%, $Secondaire 123.93%);; 
    }
}   






footer {
    background: #353535;
    padding: 40px 40px 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 25px;
    .logo {
      font-size: 18px;
      text-align: start;
      color: #fff;
      font-weight: 300;
    }
    ul {
      color: #fff;
      font-size: 15px;
      font-family: $fontText;
      list-style-type: none;
      width: 100%;
      li {
        @include center-both();
        margin-bottom: 10px;
        justify-content: start;
        i {
          font-size: 13px;
        }
        h4 {
          font-weight: 400;
          margin-left: 10px;
        }
      }
    }
  }

@media screen and (min-width: 1024px) {
    footer{
        flex-direction: row-reverse;
        justify-content: flex-start;
        ul{
            @include center-both();
            flex-direction: row;
            gap: 10px;
            width: auto;
            li:nth-child(2),li:nth-child(4){
                margin-right: 50px;
            }
        }
    }
}